:root {
    --font_color: #000000;
    --background_color: #ba98b6;
    --znacznik_color: #2f3f32;
}

body {
    color: var(--font_color);
    background-color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    
}

.topnav {
    overflow: hidden;
    background-color: var(--background_color);
}

.logo {
    float: left;
    color: var(--font_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.topnav a { 
    float: right;
    color: var(--font_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: var(--font_color);
    color: var(--background_color);
}

.topnav a.active {
    background-color: var(--znacznik_color);
    color: white;
}

.kontakt a { 
    float: right;
    color: var(--font_color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.kontakt a:hover {
    background-color: var(--font_color);
    color: var(--background_color);
}


.tytulowe-foto {
    width: 97.7vw;
    height: 40vh;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.moje-zdjecie {
    width: 40vw;
    height: 60vh;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1vh;
    padding: 1vh;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
  }
  
  .item-szeroki {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item-o-mnie {
    width: 30vw

  }

  form {
    border: 3px solid var(--background_color);
  }
  
  .container {
    padding: 20px;
  }
  
  input[type=text], input[type=submit], input[type=email] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] { 
    background-color: var(--background_color);
    color: var(--znacznik_color);
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }